temp.sh
personal.sh

config/tmux/
let g:netrw_dirhistmax  =10
let g:netrw_dirhist_cnt =2
let g:netrw_dirhist_1='/usr/local/src/pic'
let g:netrw_dirhist_2='/Users/MorehouseJ09/Documents/courses/csci_480/assignments/assignment_1'
