[submodule "vim"]
	path = vim
	url = git@github.com:jonmorehouse/vim
[submodule "scripts"]
	path = scripts
	url = git@github.com:jonmorehouse/scripts
[submodule "git-template"]
	path = git-template
	url = git@github.com:jonmorehouse/git-template
