[submodule "bin/spotify_control"]
	path = bin/spotify_control
	url = https://github.com/dronir/SpotifyControl
[submodule "bin/pmd"]
	path = bin/pmd
	url = git://github.com/dtinth/pmd.git
[submodule "vim"]
	path = vim
	url = https://github.com/MorehouseJ09/vim
