<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>Test</string>

    <key>ProgramArguments</key>
    <array>
	<string>/Users/MorehouseJ09/dotfiles/launchd/scripts/test.sh</string>
    </array>

    <!--<key>StartInterval</key>-->
    <!--<integer>05</integer>-->

    <!-- run this item once when we load the script -->
    <key>RunAtLoad</key>
	<true/>
    <key>OnLoad</key>
        <true/>

        <!-- declare a special output path -->
    <key>StandardOutPath</key>
    <string>/Users/MorehouseJ09/desktop/output</string>

    <!-- declare a special error path -->
    <key>StandardErrorPath</key>
    <string>/Users/MorehouseJ09/desktop/error</string>

</dict>
</plist>
