<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.ipfw</string>

    <!--Initialize our port forwarding-->
    <key>ProgramArguments</key>
    <array>
	<string>ipfw</string>
	<string>add</string>
	<string>100</string>
	<string>fwd</string>
	<string>127.0.0.1,8080</string>
	<string>tcp</string>
	<string>from</string>
	<string>any</string>
	<string>80</string>
	<string>in</string>
    </array>

    <key>RunAtLoad</key>
	<true/>
    

</dict>
</plist>
